<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - iCompute</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/styles.css">

    <style>
    .question-edit-prepend {width: 2.5em; text-align: center;}
    .question-edit-button {width: 2.5em; text-align: center;}
    .correct-answer {background-color: #e6ffe6;}
    .incorrect-answer {background-color: #ffe6e6;}
  </style>

</head>

<body class="container">

  <nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="{{link}}" style="padding-right: 10px">iCompute</a>

    <div>
      <span class="navbar-text" id="navbar-team-name" style="float: left; padding-left: 30px; font-weight: bold">Supervisor</span>
      <a class="nav-link" id="logout-link" href="#" style="float: left" onclick="logoutAlert()">Logout</a>
    </div>
  </nav>

  <script>

    function logoutAlert() {
      alert("The user is logging out");
    }
  </script>
  <!-- temporary scripts until backend code is complete -->
  <script>
    function toggleEdit(elem) {
      var textField = elem.parentNode.parentNode.getElementsByClassName("form-control")[0];
      if(textField.disabled) {
        textField.disabled = false;
        elem.innerHTML = "<i class=\"fas fa-save\"></i>";
        textField.focus();
      } else {
        elem.innerHTML = "<i class=\"fas fa-edit\"></i>";
        textField.disabled = true;
        // to-do: add code to update the text in the database
      }
    }

    function toggleCollapse(elem) {
      var collapse = elem.parentNode.parentNode.parentNode.getElementsByClassName("question-edit-answers")[0];
      if(collapse.classList.contains("collapse")) {
        collapse.classList.remove("collapse");
        collapse.classList.add("collapse.show");
        elem.innerHTML = "<i class=\"fas fa-caret-down\"></i>"
      } else {
        collapse.classList.remove("collapse.show");
        collapse.classList.add("collapse");
        elem.innerHTML = "<i class=\"fas fa-caret-right\"></i>"
      }
    }

    function deleteQuestion(elem) {
      var textField = elem.parentNode.parentNode.getElementsByClassName("form-control")[0];
      // to-do: replace alert with delete confirmation, then delete from database
      alert("User is attempting to delete the question \"" + textField.value + "\"");
    }

    function deleteAnswer(elem) {
      var textField = elem.parentNode.parentNode.getElementsByClassName("form-control")[0];
      // to-do: replace alert with delete confirmation, then delete from database
      alert("User is attempting to delete the answer \"" + textField.value + "\"");
    }

    function addQuestion() {
      // to-do: add new question, update database with new question
      alert("User is attempting to add a new question");
    }

    function addAnswer(elem) {
    //  $('button').click(function addAnswer(){
      //  $.ajax({
        //  url: '/addAnswer'
        //  data: $('form').serialize(),
        //  type: 'POST',
        //  success: function(response){
          //  console.log(response);
        //  },
        //  error: function(error) {
          //  console.log(error);
        //  }
        //});
      //});
    //});
      // to-do: add new answer, update database with new answer
      var textField = elem.parentNode.parentNode.getElementsByClassName("form-control")[0];
      alert("User is attempting to add a new answer to the question \"" + textField.value + "\"");
    }
  </script>
{% block content %} {% endblock %}
</body>
</html>
