{% extends 'head.html' %}
{% block title %}Supervisor{% endblock %}
{% block content %}
  <!--Actual question area (Variables needed)-->
      <div>
        <tr>
          <div align="center">
            <button type="button" class="btn btn-outline-primary outline"
             style="width: 90%; border-color:#337ab7; padding:14px 24px" onclick="location.href = '{{link1}}';">Create/Edit Test</button>
             <button type="button" class="btn btn-outline-primary outline"
              style="width: 90%; border-color:#337ab7; padding:14px 24px"
              onclick="location.href = '{{link2}}'">View Test Version</button>
          </div>
        </tr>
      </div>

<table class="table" style="width:100%; padding: 8px">
  <div>
    </table>

{% endblock %}
