{% extends 'head.html' %}
{% block title %}Supervisor{% endblock %}
{% block content %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    var counter = 2;
    $(document).ready(function(){
      $("#add_new").on("click",function(){
        $("br:last").after('<h4>Question ' + counter + '</h4><div class="dropdown show"><select class="btn btn-secondary dropdown-toggle">{% for question in questions %}<option class="dropdown-item" value="{{question}}">{{question}}</option>{% endfor %}</select></div><br />');
        counter += 1;
      })
    })
  </script>
  <h2>Section A</h2>
  <button id="add_new" class="btn btn-primary btn-lg btn-block">
      <div class="question">
      <p>Add Another Question</p>
  </div>
  </button>
  <br />
  <form>
    <h4>Question 1</h4>
    <div class="dropdown show">
      <select class="btn btn-secondary dropdown-toggle">
        {% for question in questions %}
          <option class="dropdown-item" value='{{question}}'>{{question}}</option>
        {% endfor %}
      </select>
    </div>
    <br />
  </form>
{% endblock %}
