{% extends 'head.html' %}
{% block title %}Supervisor{% endblock %}
{% block content %}
<script>
  function getTest(){
    if($('#testform option:selected') !== "none") {
      $('#testForm').submit();
    }
  }
</script>
<section id="content">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1 style="text-align: center;"><strong>Test Viewer</strong></h1>
    </div>
  </div>
  <form method="post" action="" id="testForm">
    <select class="form-control" onchange="getTest();" id="testSelect" name="test">
      <option value="none"></option>
      {% for test in tests %}
      <option value="{{test}}">{{test}}</option>
      {% endfor %}
    </select>
  </form>
  {% if is_chosen == True %}
    <hr />
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Test Name:</span>
      </div>
      <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" disabled value="{{name}}">
    </div>
    <br />
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Test Year:</span>
      </div>
      <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" disabled value="{{year}}">
    </div>
    <br />
    <hr />
    <h2 style="text-align: center;"><strong>Section A</strong></h2>
    <hr />
    {% for question in exam_questions_s1 %}
    {% if question['section'] == 1 %}
    <!-- TODO fetch images -->
    <div class="card" style="margin-top: 1em; margin-bottom: 1em;">
      <div class="card-header bg-light">
        {{question['id']}}. {{question['question']}}
      </div>
      <ul class="list-group list-group-flush" id="q{{question['id']}}">
        {% for answer in question['answers'] %}
        <li class="list-group-item" onclick="checkClicked()">
          <input type="radio" name="{{question['id']}}" value="{{answer}}">
          <label>{{answer}}</label>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endfor %}
    <h2 style="text-align: center;"><strong>Section B</strong></h2>
    <hr />
    <h2 style="text-align: center;"><strong>Section C</strong></h2>
    <hr />
      {% for question in exam_questions_s3 %}
        <div class = "card" style = "margin-top: lem; margin-bottom : lem;">
        <!-- TODO fetch images -->
        <div class="card" style="margin-bottom: 1em;">
          <div class="card-header bg-light">
            {{question['id']}}. {{question['question']}}
          </div>
        </div>
        </div>
          {% for image in images %}
            {% if image['file_counter'] == question['id'] %}
            <img src="data:;base64,{{image['image']}}" id="i{{image['file_id']}}" class="img-fluid mb-2">
            {% endif %}
          {% endfor %}
          <input class= "hidden" type="hidden" name="hiddenfield_id" id="hiddenfield_idMulti" value="{{question['question']}}" />
          <br />
        {% endfor %}
      <div>
  {% endif %}
  </section>
{% endblock %}
