{% extends 'head.html' %}
{% block title %}Supervisor-User Creation{% endblock %}
{% block content %}
<div class="container">
<br><br><br>

<h3>Add a new User:</h3>
<div>

<button type="submit" class="btn btn-primary mb-2" style="width: 20%" onclick="addStudentDialog(this)" data-user-type="Student">Student</button>
<button type="submit" class="btn btn-primary mb-2" style="width: 20%" onclick="addGraderDialog(this)" data-user-type="Grader">Grader</button>
<button type="submit" class="btn btn-primary mb-2" style="width: 20%" onclick="addSupervisorDialog(this)" data-user-type="Supervisor">Supervisor</button>
</div>

<h3>View Users:</h3>
<br>
<div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
        Supervisors
      </a>
    </div>
    <div id="collapseOne" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for UserName in UsersNames %}
            {% if UserNames['user_type'] == "Supervisor" %}
          <li class="list-group-item" name="supervisor" id="supervisor-id{{UserNames['id']}}">
            <div class="input-group" >
              <input class="form-control question-textbox" id="supervisor-name{{UserNames['id']}}" type="text" value="{{Users['username']}}" disabled>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="editUserDialog(this)"><i class="fas fa-edit"></i></button>
                <button class="btn btn-outline-secondary" type="button" onclick="addDelUserDialog(this)"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Graders
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for UserName in UsersNames %}
            {% if Users['user_type'] == Graders %}
          <li class="list-group-item" name="grader" id="graders-id{{UserNames['id']}}">
            <div class="input-group" >
              <input class="form-control question-textbox" id="graders-name{{UserNames['id']}}" type="text" value="{{Users['username']}}" disabled>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="editUserDialog(this)"><i class="fas fa-edit"></i></button>
                <button class="btn btn-outline-secondary" type="button" onclick="addDelUserDialog(this)"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        Student Teams
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for UserName in UsersNames %}
            {% if Users['user_type'] == Student %}
          <li class="list-group-item" name="student" id="student-id{{UserNames['id']}}">
            <div class="input-group" >
              <input class="form-control question-textbox" id="student-name{{UserNames['id']}}" type="text" value="{{Users['username']}}" disabled>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="editUserDialog(this)"><i class="fas fa-edit"></i></button>
                <button class="btn btn-outline-secondary" type="button" onclick="addDelUserDialog(this)"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<!-- supervisor modal below -->

<div class="modal fade" id="new-supervisor-modal" tabindex="-1" role="dialog" aria-labelledby="new-supervisor-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-supervisor-modal-label">New Supervisor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="new-supervisor-username-textbox" class="col-form-label">Username:</label>
          <input type="text" class="form-control" id="new-supervisor-username-textbox">
          <label for="new-supervisor-password-textbox" class="col-form-label">Password:</label>
          <input type="text" class="form-control" id="new-supervisor-password-textbox">
          <div class="invalid-feedback" id="new-supervisor-username-invalid-feedback">Error</div>
          <div class="invalid-feedback" id="new-supervisor-password-invalid-feedback">Error</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="new-supervisor-submit" onclick="addSupervisor(this)">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- grader modal below -->
<div class="modal fade" id="new-grader-modal" tabindex="-1" role="dialog" aria-labelledby="new-grader-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-grader-modal-label">New Grader</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="new-grader-username-textbox" class="col-form-label">Username:</label>
          <input type="text" class="form-control" id="new-grader-username-textbox">
          <label for="new-grader-password-textbox" class="col-form-label">Password:</label>
          <input type="text" class="form-control" id="new-grader-password-textbox">
          <div class="invalid-feedback" id="new-grader-username-invalid-feedback">Error</div>
          <div class="invalid-feedback" id="new-grader-password-invalid-feedback">Error</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="new-grader-submit" onclick="addGrader(this)">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- student modal below -->
<div class="modal fade" id="new-student-modal" tabindex="-1" role="dialog" aria-labelledby="new-student-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-student-modal-label">New Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="new-student-username-textbox" class="col-form-label">Username:</label>
          <input type="text" class="form-control" id="new-student-username-textbox">
          <label for="new-student-password-textbox" class="col-form-label">Password:</label>
          <input type="text" class="form-control" id="new-student-password-textbox">
          <label for="new-student-school-textbox" class="col-form-label">School Name:</label>
          <input type="text" class="form-control" id="new-student-school-textbox">
          <label for="new-student-year-textbox" class="col-form-label">Test Year:</label>
          <input type="text" class="form-control" id="new-student-year-textbox">
          <label for="new-student-test-select" class="col-form-label">Test to take:</label>
          <select id="new-student-test-select">
              {% for test in tests %}
              <option id = "test-id{{test['id']}}" value = "{{test['test_name']}}">{{test['test_name']}}</option>
              {% endfor %}
          </select>
          <div class="invalid-feedback" id="new-student-username-invalid-feedback">Error</div>
          <div class="invalid-feedback" id="new-student-password-invalid-feedback">Error</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="new-student-submit" onclick="addStudent(this)">Submit</button>
      </div>
    </div>
  </div>
</div>

<script>
function addSupervisor() {

      var username = $("#new-supervisor-username-textbox").val();
      var password = $("#new-supervisor-password-textbox").val();
      var userType = $("#new-supervisor-submit").data("user-type");
      alert(userType)
      alert(username)
      alert(password)
  $.ajax({
    url: '/admin/addUser',
    data: {username:username,password:password,user_type:userType},
    type: 'POST',
    traditional: true,
    success: function(response){
      console.log(response);
    },
    error: function(error){
      console.log(error);
    }

});
  $("#new-supervisor-modal").modal("hide");
};


function addGrader(elem) {

        var username = $("#new-grader-username-textbox").val();
        var password = $("#new-grader-password-textbox").val();
        var userType = $("#new-grader-submit").data("user-type");
        alert(userType)
        alert(username)
        alert(password)
    $.ajax({
      url: '/admin/addUser',
      data: {username:username,password:password,user_type:userType},
      type: 'POST',
      traditional: true,
      success: function(response){
        console.log(response);
      },
      error: function(error){
        console.log(error);
      }

  });
  $("#new-grader-modal").modal("hide");
};

function addStudent(elem) {

        var username = $("#new-student-username-textbox").val();
        var password = $("#new-student-password-textbox").val();
        var school_name = $("#new-student-school-textbox").val();
        var team_year = $("#new-student-year-textbox").val();
        var userType = $("#new-student-submit").data("user-type");
        var test_name = $("#new-student-test-select").val();
        alert(userType)
        alert(username)
        alert(password)
        alert(test_name)
    $.ajax({
      url: '/admin/addUser',
      data: {username:username,password:password,user_type:userType, school_name:school_name, team_year:team_year, test_name:test_name},
      type: 'POST',
      traditional: true,
      success: function(response){
        console.log(response);
      },
      error: function(error){
        console.log(error);
      }

  });
  $("#new-student-modal").modal("hide");
};



function addStudentDialog(elem) {
  // clear existing text from the textboxes
  $("#new-student-username-textbox").val("");
  $("#new-student-password-textbox").val("");
  $("#new-student-school-textbox").val("");
  $("#new-student-year-textbox").val("");
  // clear any error message from the textboxes
  $("#new-student-username-textbox").removeClass("is-invalid");
  $("#new-student-submit").attr("disabled", false);
  // get the question type from the calling button and save it to the submit button for later
  var userType = $(elem).data("user-type");
  $("#new-student-submit").data("user-type", userType);
  // show or hide the answer field, depending on the question type
  // finally, show the modal
  $("#new-student-modal").modal("show");
}

function addSupervisorDialog(elem) {
  // clear existing text from the textboxes
  $("#new-supervisor-username-textbox").val("");
  $("#new-supervisor-password-textbox").val("");
  // clear any error message from the textboxes
  $("#new-supervisor-username-textbox").removeClass("is-invalid");
  $("#new-supervisor-submit").attr("disabled", false);
  // get the question type from the calling button and save it to the submit button for later
  var userType = $(elem).data("user-type");
  $("#new-supervisor-submit").data("user-type", userType);
  // finally, show the modal
  $("#new-supervisor-modal").modal("show");
}

function addGraderDialog(elem) {
  // clear existing text from the textboxes
  $("#new-grader-username-textbox").val("");
  $("#new-grader-password-textbox").val("");
  // clear any error message from the textboxes
  $("#new-grader-username-textbox").removeClass("is-invalid");
  $("#new-grader-submit").attr("disabled", false);
  // get the question type from the calling button and save it to the submit button for later
  var userType = $(elem).data("user-type");
  $("#new-grader-submit").data("user-type", userType);
  // finally, show the modal
  $("#new-grader-modal").modal("show");
}

</script>
{% endblock %}
