{% extends 'grader_header.html' %}
{% block title %}Grader{% endblock %}
{% block content %}

<div class="container">
  <h3 class="mt-3">Select a test and section to grade</h3>
  <div class="form-row">

    <select class="form-control my-3 col-md-4" id="test-selection">
      {% for test in tests %}
        <option value="{{test.test_id}}">{{test.test_name}}</option>
      {% endfor %}
    </select>

    <select class="form-control my-3 ml-1 col-md-4" id="section-selection">
      <option value="section-one">Section 1</option>
      <option value="section-two">Section 2</option>
      <option value="section-three">Section 3</option>
    </select>

    <button class="btn btn-primary my-3 ml-1" id="section-select-submit">Go</button>
  </div>
</div>

<script>
</script>
{% endblock %}
