<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - iCompute</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="#" style="padding-right: 10px">iCompute</a>
    <div class="progress flex-fill">
      <div class="progress-bar progress-bar-striped" id="navbar-progress-bar" role="progressbar" style="width: 25%">Section 1</div>
    </div>
    <div>
      <span class="navbar-text" id="navbar-team-name" style="float: left; padding-left: 30px; font-weight: bold">{{current_user.username}}</span>
      <a class="nav-link" id="logout-link" href="{{url_for('logout')}}" style="float: left">Logout</a>
    </div>
  </nav>

  <!--For Testing Purposes Only until backend logic is implemented-->
  <div class="container">
    {% block content %} {% endblock %}
  </div>
</body>
</html>

<script>
  var sectionSelector = document.getElementById("current-section-selector");
  var progressbar = document.getElementById("navbar-progress-bar");
  var navbarTeamName = document.getElementById("navbar-team-name");
  var teamNameTextBox = document.getElementById("team-name-textbox");

  function setCurrentSection() {
    var section = sectionSelector.options[sectionSelector.selectedIndex].text;
    progressbar.innerHTML = section;

    if(section === "Initial") {
      progressbar.style.width = "0%";
      progressbar.innerHTML = "";
    } else if(section === "Section 1") {
      progressbar.style.width = "25%";
    } else if(section === "Section 2") {
      progressbar.style.width = "50%";
    } else if(section === "Section 3") {
      progressbar.style.width = "75%";
    } else if(section === "Complete") {
      progressbar.style.width = "100%";
    }

    if(section === "Complete") {
      progressbar.classList.add("bg-success");
    } else {
      progressbar.classList.remove("bg-success");
    }
  }
</script>
