{% extends 'header.html' %}
{% block title %}Student Team{% endblock %}
{% block content %}
  <section id="content" style="margin-bottom: 2em">
    <form role="form" id="multChoice" action="" method="post">
      {% for question in exam_questions %}
      <!-- TODO fetch images -->
      <div class="card" style="margin-top: 1em; margin-bottom: 1em;">
        <div class="card-header bg-light">
          {{question['id']}}. {{question['question']}}
        </div>
        <ul class="list-group list-group-flush" id="q{{question['id']}}">
          {% for answer in question['answers'] %}
          <li class="list-group-item" onclick="checkClicked()">
            <input type="radio" name="{{question['id']}}" value="{{answer}}">
            <label>{{answer}}</label>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
      <input type="button" name="btn" value="Submit" onClick="checkRadioButtons();" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-primary btn-lg btn-block"/>
    </form>
  </section>

<!--Modal for the submit button-->
  <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-danger">
          Confirm Submission
        </div>

        <div id="modal-body" class="modal-body">
          Are you sure you want to submit this section? You will NOT be able to return to this section later.
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="#" id="submit" class="btn btn-success success">Submit</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    function checkRadioButtons() {
      var hasUnansweredQuestions = true;

      for(let i = 1; i < {{exam_questions|length}}+1; i++) {
        var ul_id = 'q' + i;
        var list = document.getElementById(ul_id);

        for (j = 0; j < list.children.length; j++) {
          if (list.children[j].children[0].checked) {
            hasUnansweredQuestions = false;
          }
        }

        if(hasUnansweredQuestions) {
           document.getElementById("modal-body").innerHTML = "Are you sure you want to submit this section? You will NOT be able to return to this section later.\n<div class='text-danger'>You have unanswered Questions in this Section.</div>";
           break;
        } else {
           document.getElementById("modal-body").innerHTML = "Are you sure you want to submit this section? You will NOT be able to return to this section later.";
        }

        hasUnansweredQuestions = true;
      }
    }

    function getEventTarget(e) {
      e = e || window.event;
      return e.target || e.srcElement;
    }

    $('#submit').click(function(){
      $('#multChoice').submit();
    });

    function checkClicked(event) {
      target = getEventTarget(event)
      if (target.tagName == "LI")
        target.children[0].checked=true;
      else if (target.tagName == "LABEL")
        target.previousElementSibling.checked=true;
    }

  </script>
{% endblock %}
