{% extends 'header.html' %}
{% block title %}Student Team{% endblock %}
{% block content %}
  <section id="content" style="margin-bottom: 2em">
    <form role="form" id="multChoice" action="" method="post">
    <script>
      function checkClicked(event) {
        // TODO this has a bug where we cannot click on the label to select the radio that needs to be fixed
        getEventTarget(event).children[0].checked=true;
      }
    </script>
      {% for question in questions %}

      <!-- TODO make this dynamic so it makes all the answers for the questions and not just four of them -->
      <!-- TODO fetch images as well -->
      <div class="card" style="margin-top: 1em; margin-bottom: 1em;">
        <div class="card-header bg-light">
          {{question['id']}}. {{question['question']}}
        </div>
        <ul class="list-group list-group-flush">
          <input type="radio" style="position:fixed; opacity:0;" name="optradio{{question['id']}}" value="not_answered" checked="checked">
          <li class="list-group-item" onclick="checkClicked()">
            <input type="radio" name="optradio{{question['id']}}" id="q{{question['id']}}a1" value="{{question['answer1']}}">
            <label id="labelq{{question['id']}}a1">{{question['answer1']}}</label>
          </li>
          <li class="list-group-item" onclick="checkClicked()">
            <input type="radio" name="optradio{{question['id']}}" id="q{{question['id']}}a2" value="{{question['answer2']}}">
            <label id="labelq{{question['id']}}a2">{{question['answer2']}}</label>
          </li>
          <li class="list-group-item" onclick="checkClicked()">
            <input type="radio" name="optradio{{question['id']}}" id="q{{question['id']}}a3" value="{{question['answer3']}}">
            <label id="labelq{{question['id']}}a3">{{question['answer3']}}</label>
          </li>
          <li class="list-group-item" onclick="checkClicked()">
            <input type="radio" name="optradio{{question['id']}}" id="q{{question['id']}}a4" value="{{question['answer4']}}">
            <label id="labelq{{question['id']}}a4">{{question['answer4']}}</label>
          </li>
        </ul>
      </div>
      {% endfor %}
      <input type="hidden" name="team_name" id="teamNameForInput">
      <input type="button" name="btn" value="Submit" onClick="checkRadioButtons();" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-primary btn-lg btn-block"/>
    </form>
  </section>

<!--Modal for the submit button-->
  <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-danger">
          Confirm Submission
        </div>

        <div id="modal-body" class="modal-body">
          Are you sure you want to submit this section? You will NOT be able to return to this section later.
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="#" id="submit" class="btn btn-success success">Submit</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    // TODO This function is a little weird when you click the submit button a second time after going back to answer the questions
    function checkRadioButtons() {
      document.getElementById('teamNameForInput').value = document.getElementById('navbar-team-name').innerHTML;
      var active = false;
      for(let i = 0; i < {{questions|length}}; i++) {
        for(let j = 0; j < 4; j++) {
          var id = 'q' + (i+1) + 'a' + (j+1);
          if(document.getElementById(id).checked) {
            active = true;
          }
        }
        if(active === false) {
           document.getElementById("modal-body").innerHTML = "Are you sure you want to submit this section? You will NOT be able to return to this section later.\n<div class='text-danger'>You have unanswered Questions in this Section.</div>";
        } else {
          active = false;
        }
      }
    }

    function getEventTarget(e) {
      e = e || window.event;
      return e.target || e.srcElement;
    }

    $('#submit').click(function(){
      $('#multChoice').submit();
    });
  </script>
{% endblock %}
