{% extends 'head.html' %}
{% block title %}Supervisor-User Creation{% endblock %}

{% block content %}
<!-- replace hardcoded values with jinja once backend is complete -->
<div class="card">
  <ul class="list-group">

    <li class="list-group-item">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary question-edit-prepend" type="button" onclick="toggleCollapse(this)"><i class="fas fa-caret-right"></i></button>
        </div>
        <input class="form-control" type="text" value="This provides a step-by-step procedure for performing a task." disabled>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="toggleEdit(this)"><i class="fas fa-edit"></i></button>
          <button class="btn btn-outline-secondary" type="button" onclick="deleteQuestion(this)"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>

      <div class="question-edit-answers collapse">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text question-edit-prepend correct-answer"><i class="fas fa-check"></i></span>
          </div>
          <input class="form-control" type="text" value="Algorithm" disabled>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="toggleEdit(this)"><i class="fas fa-edit"></i></button>
            <button class="btn btn-outline-secondary" type="button" disabled><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text question-edit-prepend incorrect-answer"><i class="fas fa-times"></i></span>
          </div>
          <input class="form-control" type="text" value="Keyboard" disabled>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="toggleEdit(this)"><i class="fas fa-edit"></i></button>
            <button class="btn btn-outline-secondary" type="button" onclick="deleteAnswer(this)"><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text question-edit-prepend incorrect-answer"><i class="fas fa-times"></i></span>
          </div>
          <input class="form-control" type="text" value="Internet" disabled>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="toggleEdit(this)"><i class="fas fa-edit"></i></button>
            <button class="btn btn-outline-secondary" type="button" onclick="deleteAnswer(this)"><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text question-edit-prepend incorrect-answer"><i class="fas fa-times"></i></span>
          </div>
          <input class="form-control" type="text" value="Windows" disabled>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="toggleEdit(this)"><i class="fas fa-edit"></i></button>
            <button class="btn btn-outline-secondary" type="button" onclick="deleteAnswer(this)"><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>

        <button type="button" class="btn btn-outline-secondary question-edit-prepend" onclick="addAnswer(this)"><i class="fas fa-plus"></i></button>
      </div>
    </li>

    <li class="list-group-item">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary question-edit-prepend" type="button" onclick="toggleCollapse(this)"><i class="fas fa-caret-right"></i></button>
        </div>
        <input class="form-control" type="text" value="Which one of the following is not a programming language?" disabled>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="toggleEdit(this)"><i class="fas fa-edit"></i></button>
          <button class="btn btn-outline-secondary" type="button" onclick="deleteQuestion(this)"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>

      <div class="question-edit-answers collapse">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text question-edit-prepend correct-answer"><i class="fas fa-check"></i></span>
          </div>
          <input class="form-control" type="text" value="Binary" disabled>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="toggleEdit(this)"><i class="fas fa-edit"></i></button>
            <button class="btn btn-outline-secondary" type="button" disabled><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text question-edit-prepend incorrect-answer"><i class="fas fa-times"></i></span>
          </div>
          <input class="form-control" type="text" value="Java" disabled>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="toggleEdit(this)"><i class="fas fa-edit"></i></button>
            <button class="btn btn-outline-secondary" type="button" onclick="deleteAnswer(this)"><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text question-edit-prepend incorrect-answer"><i class="fas fa-times"></i></span>
          </div>
          <input class="form-control" type="text" value="HTML" disabled>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="toggleEdit(this)"><i class="fas fa-edit"></i></button>
            <button class="btn btn-outline-secondary" type="button" onclick="deleteAnswer(this)"><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text question-edit-prepend incorrect-answer"><i class="fas fa-times"></i></span>
          </div>
          <input class="form-control" type="text" value="C++" disabled>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary question-edit-button" type="button" onclick="toggleEdit(this)"><i class="fas fa-edit"></i></button>
            <button class="btn btn-outline-secondary" type="button" onclick="deleteAnswer(this)"><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>

        <button type="button" class="btn btn-outline-secondary question-edit-prepend" onclick="addAnswer(this)"><i class="fas fa-plus"></i></button>
      </div>
    </li>

    <li class="list-group-item">
      <button type="button" class="btn btn-outline-secondary question-edit-prepend" onclick="addQuestion()"><i class="fas fa-plus"></i></button>
    </li>
  </ul>
</div>
{% endblock %}
