{% extends 'logon_header.html' %}
{% block title %}Log in{% endblock %}
{% block content %}
<!-- TODO not all flash messages are bad so don't color all messages with the danger color -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for catagory, message in messages %}
        <div class="alert {{'alert-info' if catagory == 'info' else 'alert-danger'}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form role="form" id="logon" action="" method="POST" style="margin-top: 1em">
    <div class="form-group">
        <label for="Username">Username</label>
        <input id="Username" name="Username" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" name="Password" class="form-control" id="Password" required />
    </div>
    <button type="submit" class="btn btn-primary" required >Log in</button>
</form>
{% endblock %}
